<vue-gwt:import class="ru.githarbor.frontend.harbor.vue.harbor.window.codesearch.item.MatchLine"/>

<div class="is-flex is-vertical is-full-size">
    <div style="height: 30%; display: flex">
        <simple-bar v-if="item != null" class="is-full-size">
            <ul class="g-list is-mini is-unselectable">
                <li :key="index"
                    v-for="(MatchLine matchLine, index) in matchLines"
                    :class='map(e("is-background-color-6", item.currentMatchLine == index))'
                    @click="onMatchLineClick(index, matchLine)"
                    style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
                    ref="itemElements"
                >
                    <div v-html="matchLine.content">

                    </div>
                </li>
            </ul>
        </simple-bar>
    </div>
    <div class="is-padding has-top-border has-bottom-border is-primary-background" style="height: 28px">
        <span v-if="item != null">
            {{item.path}}
        </span>
    </div>
    <div class="flex-grow" style="height: 70%; width: 100%;">
        <div class="is-full-size"
             ref="monacoContainer"
             :style='map(e("visibility", monacoContainerShow ? "visible" : "hidden"))'
        >

        </div>
    </div>
</div>