<vue-gwt:import class="ru.githarbor.frontend.vue.component.searchrepository.Repository"/>

<simple-bar class="is-full-size g-repository-list">
    <ul class="g-list is-unselectable">
        <li :key="repository.nameWithOwner"
            v-for="(Repository repository, index) in repositories"
            :class='map(e("is-selected", index == currentIndex), e("is-background-hover", editable), e("is-flex", true))'
            ref="repositoryElements"
            @mouseover="onMouseOver(index)"
            @mouseout="onMouseOut"
            @click="onRepositoryClick(repository, index)"
        >
            <div class="is-flex-grow">
                <div class="is-flex is-vertical-centered" style="padding-bottom: 3px;">
                    <span class="title is-6 is-marginless">{{repository.nameWithOwner}}</span>
                </div>
                <ul class="g-list is-horizontal">
                    <li v-if="repository.languageName != null">
                            <span class="is-flex is-centered">
                                <fa-icon icon="circle"
                                         :style='map(e("color", repository.languageColor))'></fa-icon>
                                <span class="is-color-2">
                                    {{repository.languageName}}
                                </span>
                            </span>
                    </li>
                    <li>
                            <span class="is-flex is-centered">
                                <fa-icon icon="star" class="is-color-2"></fa-icon>
                                <span class="is-color-2">
                                    {{repository.stars}}
                                </span>
                            </span>
                    </li>
                    <li>
                            <span class="is-flex is-centered">
                                <fa-icon icon="heartbeat" class="is-color-2"></fa-icon>
                                <span class="is-color-2">
                                    {{repository.updatedAt}}
                                </span>
                            </span>
                    </li>
                </ul>
            </div>
            <div v-if="editable" class="is-flex is-vertical-centered">
                <span v-show="currentOverIndex == index" class="icon is-background-6-hoverable has-round-2x-border"
                      @click.stop="onDelete(repository.nameWithOwner)">
                    <fa-icon icon='times' class="is-color-4"></fa-icon>
                </span>
            </div>
        </li>
    </ul>
</simple-bar>