<vue-gwt:import class="ru.githarbor.request.RepositorySearchRequest.Repository"/>

<div class="is-flex is-vertical is-fullheight">

    <div class="is-flex has-bottom-border">
        <el-input v-model="input"
                  placeholder="Enter repository name or GitHub url"
                  class="is-borderless g-repository-search-input"
                  autofocus
        >
            <fa-icon slot="suffix" icon="search"></fa-icon>
        </el-input>
    </div>

    <loader v-if="searching" text="Searching..."></loader>

    <div class="is-flex is-vertical is-fullheight is-centered" v-if="!searching && repositories.length == 0">
        Nothing found
    </div>

    <div v-if="!searching && repositories.length > 0"
         class="is-flex is-fullheight"
    >
        <repository-list :open-new-window="false" :repositories="repositories"></repository-list>
    </div>
</div>