.is-primary-color {
  color: $g-primary-color;
}

.is-color-1 {
  color: $g-color-1;
}

.is-color-2 {
  color: $g-color-2;
}

.is-color-3 {
  color: $g-color-3;
}

.is-color-4 {
  color: $g-color-4;
}

.is-color-5 {
  background: $g-color-5;
}

.is-primary-background {
  background: $g-primary-color;
}

.is-background-color-1 {
  background: $g-color-1;
}

.is-background-color-2 {
  background: $g-color-2;
}

.is-background-color-3 {
  background: $g-color-3;
}

.is-background-color-4 {
  background: $g-color-4;
}

.is-background-color-5 {
  background: $g-color-5;
}

.is-background-color-6 {
  background: $g-color-6;
}

.is-fontsize-medium {
  font-size: 0.6875rem;
}

.is-font-weight-600 {
  font-weight: 600;
}

.is-font-weight-700 {
  font-weight: 700;
}